* {
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 0%;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('https://images7.alphacoders.com/860/860157.jpg');
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: rgba(100,100,100,.9);
}

#body3 {
    background-color: rgba(255,255,255,.9);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}
h1>img {
    margin-right: .5em;
    padding: .1em;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 1em;
}
select, button {
    width: 100%;
    font-size: 1em;
}
.hint {
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
}

.group, .author {
    margin: 0 0 .5em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: azure;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
